{
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["error", "always"],
    "global-require": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "max-len": ["warn", { "code": 150 }],
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "semi": "off",
    "camel-case": "off",
    "no-debugger": "off",
    "no-console": "off",
    "space-before-function-paren": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "camelcase": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
